target/
*.log
/\.target/
/\.cache
/\.project
/\.classpath
.history
.DS_Store
/tmp/
/bin/
/.cache-main
/.cache-tests

# IDEs and editors
/.settings/
/.idea/
*.iml
.bloop/
/.metals/
/project/**/metals.sbt
/.bsp/
/.vscode/
