/.settings/
/.idea/
target/
*.log
*.iml
/\.target/
/\.cache
/\.project
/\.classpath
.history
.DS_Store
/tmp/
/bin/
/.cache-main
/.cache-tests
admin/.coursier
admin/.scalafmt*

# metals
/.bloop/
/.metals/
/project/**/metals.sbt

# sbt - Build Server Protocol
/.bsp/

# vscode
/.vscode/
