#sudo: false
#addons:
#  apt:
#    packages:
#      - oracle-java8-installer
language: scala
jdk:
  - oraclejdk8
before_script:
  - ./checkCLA.sh
script:
  - sbt +test
  - cd scalafix && sbt input/compile output/compile tests/test
